.first{
  width: 100%;
  height: 95px;
}
.travela{
  float: left;
}
.nav{
  float: right;
  display: flex;
  gap: 20px;
}
.content{
  text-align: center;
}
.location{
  width: 20px;
  position: relative;
  top: 2px;
}
#travelco{
  position: relative;
  top: 0px;
}
.ko{
  /* background-image: url(p2w2tos7r4z31.png); */
  background-size: cover;
  }
body{
  color: white;
  overflow: hidden;

}

select,button{
  background-color: red;
  color: inherit;
  border: 0;
}
#change:hover body{
 cursor: pointer;
  transition-duration:3s ;
background-image: url(p2w2tos7r4z31.png);

}
#ko{
  height: 670px;
  width: 400%;
 
  position: relative; 
 background-size: contain;

}

#main{
  position: relative;
  z-index: 0;
  top: -670px;
}
.ko{
  width: 25%;
  height: 100%;
  float: left;
}
.I{
  background-image: url(p2w2tos7r4z31.png);
}
.II{
  background-image: url(1.jpg);
}
.III{
  background-image: url(2.jpg);
}
.IIII{
  background-image: url(3.webp);
}
